.createMeal {
    padding: 5%;
}

.createMealForm > * {
    display: block;
    margin: -10px;
}

.createMealForm > hr {
    margin: 5%;
}

.createMealForm > label > input {
    margin: 20px;
    padding: 5px;
    font-size: 15px;
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;
    border-left: none;
    border-right: none;
    outline: none;
}

.createMealForm > label > select {
    margin: 0 20px 0 20px;
    width: 150px;
    height: 30px;
    outline: none;
}

.createMealForm > label > button {
    width: 100px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #039dd0;
    transition-duration: 0.2s;
    margin: 0;
    margin-top: 50px;
    padding: 10px;
    box-shadow: 0 9px #999;
}

input[type=submit] {
    width: 200px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #039dd0;
    transition-duration: 0.2s;
    margin: 0;
    margin-top: 50px;
    padding: 10px;
    box-shadow: 0 9px #999;
}

input[type=submit]:hover, .createMealForm > label > button:hover {
    background-color: #dfdede;
    border-color: #0fb6ee;
}

input[type=submit]:active, .createMealForm > label > button:active {
    border-color: #03609a;
    background-color: #bababa;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}